<div class="hello">
<ul>
<li><a href="/cars", class="badge badge-dark">Cars</a></li>

<li><a href="/motorbikes" class="badge badge-dark">Motorbikes</a></li>

<li><a href="" class="badge badge-dark">Home</a></li>
</ul>

</div>